+font-face("Montserrat", "../font/Montserrat-Regular", 300)
+font-face("Muller", "../font/MullerRegular", 400)
+font-face("Bebas Neue", "../font/bebasneueregular", 400)

=montreg
	font-family: "Montserrat", arial, sans-serif
=mulreg
	font-family: "Muller", arial, sans-serif
=bebreg
	font-family: "Bebas Neue", arial, sans-serif

// project
$purple: #8244F7
$f6: #722CF6
$yellow: #F8B043
$ff: #FFAA28

// default
$w: #ffffff
$b: #000000
$b25: #252525
$b8: #888888
$f5: #F5F5F5
